.text{
    color: #3C5186;
    white-space: pre-line;

}
.justify{
    text-align: justify;
}
.left{
    text-align: left;
}
.ref{
    color: #3C5186;
    color: #9B72AA;
    color: #C6B4CE;
    color: #FFF5DE;
}