h1, h2, h3, h4, h5{
    font-family: SherrySwash-bold,Calibri, sans-serif !important;
    color: #3C5186;
    white-space: pre-line;

}
.text{
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
    color: #3C5186;
    white-space: pre-line;
}
.text-center{
    text-align: center !important;
}
.text-medium{
    font-size: larger;
}
.display-flex{
    display: flex;
}
.img-center{
    display:block;
    margin-left: auto;
    margin-right: auto;
}
.justify{
    text-align: justify;
}
.left{
    text-align: left;
}
.ref{
    color: #3C5186;
    color: #9B72AA;
    color: #C6B4CE;
    color: #FFF5DE;
}
.text-small{
    font-size: small;
}