h1, h2, h3, h4, h5{
    font-family: SherrySwash,Calibri,'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif !important;
    color: #3C5186;
    white-space: pre-line;

}
.text{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #3C5186;
    white-space: pre-line;

}
.justify{
    text-align: justify;
}
.left{
    text-align: left;
}
.ref{
    color: #3C5186;
    color: #9B72AA;
    color: #C6B4CE;
    color: #FFF5DE;
}
.text-small{
    font-size: small;
}