#logo{
    width: 200px;
    height: 100px;
  }
#nav{
    margin-top: 10px;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 50px;
    box-shadow:0px 0px 10px #3c518681;
    border-radius: 30px;
    background-color: #FFF5DE;
}

body{
    background-color: #FFF5DE; 
}

.nav-text{
    font-family: SherrySwash;
    font-size: larger;
    color:#3C5186 !important;
}

.ref{
    color: #3C5186;
    color: #9B72AA;
    color: #C6B4CE;
    color: #FFF5DE;
}

